{% autoescape None %}
{% extends base.html %}
{%block description%}<meta name="description" content="福利吧 安卓版 apk 下载" >{%end%}

{%block main%}
<div class="container marketing">
     <h2 class="text-center"  >
            二维码下载(支持微信扫一扫) 
     </h2>
     <div class="row text-center">
        <img with="300px" height="300px" src="/static/img/apk.png" />
     </div>

     <h2 class="text-center"  >
         直接下载
     </h2>
        <div class="row text-center">
            <a href="http://ostatic.qiniudn.com/fuliba1.2.apk">
                 <button type="button" class="btn btn-info btn-lg">点这</button>
            </a>
        </div>
{%end%}
