{% autoescape None %}
{% extends base.html %}
{%block description%}<meta name="description" content="福利吧 安卓版 apk 下载" >{%end%}

{%block main%}
<div class="container marketing">
     <h2 class="text-center"  >
        在微信内下载请先点击右上角按钮菜单内的"在浏览器中打开".如下图,然后再点击最下面的"下载"按钮
     </h2>
     <div class="row text-center">
        <img with="300px" height="500px" src="/static/img/wxcd.jpg" />
     </div>

        <div class="row text-center">
            <a href="http://ostatic.qiniudn.com/fuliba1.0.2.apk">
                 <button type="button" width="400px" class="btn btn-info btn-lg">下载</button>
            </a>
        </div>
{%end%}
