{%block menu_bar %}
<ul class="nav nav-sidebar nav-stacked">
    {%if active == 'group_index_at' %}
    <li class="active">
    {%else%}
    <li class="">
    {%end%}
    <a href="/group_index">组织首页</a></li>


    {%if active == 'group_pet_at' %}
    <li class="active">
    {%else%}
    <li class="">
    {%end%}
    <a href="/group_pet">宠物管理</a></li>


    {%if active == 'group_message_at' %}
    <li class="active">
    {%else%}
    <li class="">
    {%end%}
        <a href="/group_message">
            <span class="badge pull-right">{{unread_message_count}}</span>消息</a>
    </li>
</ul>
{%end%}
