{% autoescape None %}
{% extends base.html %}

{%block main%}
    <div class="container marketing">
        <h2 class="text-center"  >
            被删掉的帖子
        </h2>

        <hr class="featurette-divider">
        <div class="table-responsive">
            <table class="table table-striped">
            <tbody>
                {%for p in posts%}
                    <tr>
                        <td>
                            <a href="/post/tieba?pid={{p['url']}}" >{{p['title']}}</a>
                        </td>
                        <td>{{p['user_name']}}</td>
                        <td>{{p['find_time']}}</td>
                        <td>{{p['click']}}</td>
                    </tr>
                {%end%}
            </tbody>
        
            </table>
        </div>


        <div class="text-center" >
            <ul class="pagination pagination-lg">
            {%if page > 1%}
                <li><a href="/oldpost">«</a></li>
                <li><a href="/oldpost?page={{page-1}}">{{page-1}}</a></li>
                <li class="active" ><a href="#" class="active">{{page}}</a></li>
            {%else%}
                <li class="active" ><a href="/oldpost">{{page}}</a></li>
            {%end%}
            <li><a href="/oldpost?page={{page+1}}">{{page+1}}</a></li>
            <li><a href="/oldpost?page={{page+2}}">{{page+2}}</a></li>
            <li><a href="/oldpost?page={{page+3}}">{{page+3}}</a></li>
            <li><a href="/oldpost?page={{page+9}}">{{page+9}}</a></li>
            <li><a href="/oldpost?page={{page+19}}">{{page+19}}</a></li>
            <li><a href="/oldpost?page={{page+99}}">{{page+99}}</a></li>
            </ul>
        </div>

     </div>

{%end%}
