{% autoescape None %}
{% extends base.html %}
{%block description%}<meta name="description" content="{{post.get('title',u'李毅吧')}}" >{%end%}

{%block main%}
<div class="container marketing">
     <h2 class="text-center"  >
         {{post['title']}}
     </h2>
     <a href="http://tieba.baidu.com/p/{{post['url']}}">原帖</a>

     <div class="table-responsive">
         <table class="table table-striped">
             {%for r in post['content'] %}
                 <tr>
                     <td class="col-xs-3 col-md-2" >
                         <p>{{r['user_name']}}</p>
                         <p>{{u2s(r['create_time'])}}</p>
                     </td>
                     <td class="col-xs-9 col-md-10 content">
                        {{tr(r['reply_content'])}}
                     </td>
                 </tr>
             {%end%}
             </tbody>
         </table>
     </div>
        
     <div class="page-header">
              <h3 id="grid">网友都在看</h1>
     </div>

     <div class="row">
        {%for h in hots%}
            <div class="col-md-4 col-xs-6">
                <a href="/post/tieba?pid={{h['url']}}" ><img alt="{{h['title']}}"  class="img-rounded" style="width: 200px; height: 200px;" src="{{h['post_cover_img']}}">
                    <p>{{h['title']}}</p>
                </a>
            </div><!-- /.col-lg-4 -->
        {%end%}
     </div>
</div>

{%end%}
{%block footer %}
<div role="navigation" class="navbar navbar-default navbar-fixed-bottom">
    <div >
        <button id="recommend_button" post_id="{{post['url']}}" style="display: block; width: 100%;" type="button" class="btn btn-primary btn-lg" >推荐({{post.get('like',0)}})</button>
    </div>
</div>
{%end%}

{%block script%}
<script>
    $(document).ready(function(){
        $("#recommend_button").click(function () {
            var jqxhr = $.post("/likepost?post_id="+$("#recommend_button").attr("post_id"), function(data) {
                  $("#recommend_button").attr("disabled","disabled");
                  $("#recommend_button").text("已推荐");
              })
              .success(function() { })
              .complete(function() { });
        });

})
</script>
<script type="text/javascript">
//破防盗链js
function ImgRebuild() {
    $(".img-responsive").each(function(i){
        url = this.src;
        width = this.width;
        height = this.height;
        var imgid = Math.random();
        frameid = 'frameimg' + imgid;
        window['img'+imgid] = '<img id="img" src=\''+url+'?kilobug\' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = document.getElementById(\'img\').height+\'px\';img_width =document.getElementById(\'img\').width;if (img_width>=902) {document.getElementById(\'img\').width=\'902\';} }<'+'/script>';
        img_r = '<iframe id="'+frameid+'" src="javascript:parent[\'img'+imgid+'\'];"frameBorder="0" height="' +height+ '" scrolling="no" width="100%"></iframe>';
        $(this).replaceWith(img_r);
    });
    return '';
}
//ImgRebuild();
</script>
{%end%}
