{% autoescape None %}
{% extends base.html %}
{%block description%}{{post['title']}}{%end%}

{%block main%}
<div class="container marketing">
     <h2 class="text-center"  >
         {{post['title']}}
     </h2>
     <a href="http://tieba.baidu.com/p/{{post['url']}}">原帖</a>

     <div class="table-responsive">
         <table class="table table-striped">
             {%for r in post['content'] %}
                 <tr>
                     <td class="col-xs-3 col-md-2" >
                         <p>{{r['user_name']}}</p>
                         <p>{{u2s(r['create_time'])}}</p>
                     </td>
                     <td class="col-xs-9 col-md-10">
                        {{tr(r['reply_content'])}}
                     </td>
                 </tr>
             {%end%}
             </tbody>
         </table>
     </div>
        
     <div class="page-header">
              <h3 id="grid">网友都在看</h1>
     </div>

     <div class="row">
        {%for h in hots%}
            <div class="col-md-4 col-xs-6">
                <a href="/post/tieba?pid={{h['url']}}" ><img alt="{{h['title']}}"  class="img-rounded" style="width: 200px; height: 200px;" src="{{h['post_cover_img']}}">
                    <p>{{h['title']}}</p>
                </a>
            </div><!-- /.col-lg-4 -->
        {%end%}
     </div>
</div>

{%end%}
