{% autoescape None %}
{% extends base.html %}

{%block main%}
    <div class="container marketing">
        <h2 class="text-center"  >
            被删掉的帖子
        </h2>

        <hr class="featurette-divider">
        {%for p in posts%}
           <div class="row featurette">
              <div class="col-md-5" >
                  {%if p.get('post_cover_img')%}
                  <a href="/tieba/post?pid={{p['url']}}" target="_blank" >
                      <img class="featurette-image img-rounded" src="{{p['post_cover_img']}}-cover" height="300px">
                  </a>
                  {%end%}
              </div>
              <div class="col-md-7">
                  <h3 class="featurette-heading">
                      <a href="/tieba/post?pid={{p['url']}}" target="_blank" >
                          {{p['title']}}
                      </a>
                  </h3>
                  <p class="lead">{{p['abstract']}}</p>
              </div>
           </div>
           <hr class="featurette-divider">
        {%end%}
     </div>

{%end%}
