{% autoescape None %}
{%extends ybase.html%}
{%block title%}下美剧-xiameiju{%end%}
{%block description%}美剧下载 ed2k manget 电驴 迅雷{%end%}
{%block main%}
        <div class="tab-content" id="myTabContent">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th>剧名</th>
                    </tr>
                </thead>
                <tbody>
                    {%for v in videos%}
                        <tr>
                            <td><a href="/video/{{v['_id']}}">{{v['name']}}</td>
                        </tr>
                    {%end%}
                </tbody>
            </table>
            <ul class="pager">
                {%if page-1 >0%}
                    <li><a href="/{{page-1}}">上一页</a></li>
                {%end%}
                    <li><a href="/{{page+1}}">下一页</a></li>
            </ul>
        </div>
{%end%}
